team19_nodered_flow.txt
[{"id":"4b2d9ea8.b5638","type":"tab","label":"Water level","disabled":false,"info":""},{"id":"7e4d7d88.08d1a4","type":"rpi-dht22","z":"4b2d9ea8.b5638","name":"temperature-sensor","topic":"dht22","dht":"11","pintype":"0","pin":"15","x":930,"y":240,"wires":[["ae1320a6.aa9ec","8f1f1ba2.ea7c98"]]},{"id":"71574062.bfc7f","type":"inject","z":"4b2d9ea8.b5638","name":"Bowl","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":710,"y":180,"wires":[["7e4d7d88.08d1a4"]]},{"id":"1099c3c4.f83bec","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"true","x":1350,"y":360,"wires":[]},{"id":"ae1320a6.aa9ec","type":"function","z":"4b2d9ea8.b5638","name":"check water level","func":"var res;\nvar check = global.get(\"check_bowl\");\n\nif(msg.humidity < 95 && check == 1){\n    msg.payload = \"There is not enough water. Open the solenoid valve\";\n    global.set(\"check_bowl\",0);\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1170,"y":300,"wires":[["1099c3c4.f83bec","4d55350a.5caadc"]]},{"id":"a603d172.8c3c","type":"rpi-dht22","z":"4b2d9ea8.b5638","name":"temperature-sensor","topic":"Automatic water dispenser","dht":"22","pintype":"0","pin":"4","x":910,"y":420,"wires":[["60a7745a.1a463c","e724f703.064988"]]},{"id":"4123f646.2a9ee8","type":"inject","z":"4b2d9ea8.b5638","name":"Main Container","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":680,"y":480,"wires":[["a603d172.8c3c"]]},{"id":"5cee6d80.ba8234","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"true","x":1350,"y":560,"wires":[]},{"id":"60a7745a.1a463c","type":"function","z":"4b2d9ea8.b5638","name":"check water level","func":"var res;\nvar check = global.get(\"check_container\");\n\nif(msg.humidity < 95 && check == 1){\n    msg.payload = \"There is not enough water. Please refill the water for your pet.\";\n    global.set(\"check_container\",0);\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1130,"y":500,"wires":[["5cee6d80.ba8234","5b1e1ac5.1542a4","4386f3f9.da18cc"]]},{"id":"424475a8.1a6a8c","type":"daemon","z":"4b2d9ea8.b5638","command":"python","args":"-u /home/pi/rfidreader.py","cr":true,"redo":true,"op":"string","name":"RFIDReader","x":70,"y":180,"wires":[["e29f9997.b3ec98"],[],[]]},{"id":"e29f9997.b3ec98","type":"function","z":"4b2d9ea8.b5638","name":"JSON to Object","func":"msg.payload = JSON.parse(msg.payload);\n\nglobal.set(\"check_bowl\",1);\nglobal.set(\"check_container\",1);\nglobal.set(\"check_bowl_food\",1);\nglobal.set(\"check_container_food\",1);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["2e34135f.81c56c","95028188.2c8b"]]},{"id":"2e34135f.81c56c","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"true","x":400,"y":240,"wires":[]},{"id":"95028188.2c8b","type":"trigger","z":"4b2d9ea8.b5638","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"ms","reset":"","name":"Trigger water check","x":450,"y":280,"wires":[["7e4d7d88.08d1a4","a603d172.8c3c","c882f1b2.80c81"]]},{"id":"4386f3f9.da18cc","type":"e-mail","z":"4b2d9ea8.b5638","server":"smtp.gmail.com","port":"465","secure":true,"name":"giulia.marchesi94@gmail.com","dname":"Mail","x":1351.5,"y":648,"wires":[]},{"id":"5b1e1ac5.1542a4","type":"twitter out","z":"4b2d9ea8.b5638","twitter":"","name":"Tweet","x":1351.5,"y":716,"wires":[]},{"id":"ab02b086.9f7a9","type":"function","z":"4b2d9ea8.b5638","name":"check food level","func":"var res;\nvar check = global.get(\"check_bowl_food\");\n\nif(msg.payload > 2 && check == 1){\n    msg.payload = \"There is not enough food. Open the valve\";\n    global.set(\"check_bowl_food\",0);\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1360,"y":840,"wires":[["4a79b02b.931f2"]]},{"id":"3735003e.2f7ae","type":"function","z":"4b2d9ea8.b5638","name":"check food level","func":"var res;\nvar check = global.get(\"check_container_food\");\n\nif(msg.payload > 20 && check == 1){\n    msg.payload = \"There is not enough food. Please refill the food for your pet.\";\n    global.set(\"check_container_food\",0);\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1360,"y":940,"wires":[["78a60294.a3545c","cad113bc.33984","180e949b.9f497b"]]},{"id":"180e949b.9f497b","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"true","x":1580,"y":940,"wires":[]},{"id":"78a60294.a3545c","type":"e-mail","z":"4b2d9ea8.b5638","server":"smtp.gmail.com","port":"465","secure":true,"name":"giulia.marchesi94@gmail.com","dname":"Mail","x":1580,"y":1020,"wires":[]},{"id":"cad113bc.33984","type":"twitter out","z":"4b2d9ea8.b5638","twitter":"","name":"Tweet","x":1580,"y":1080,"wires":[]},{"id":"6b45e10b.c6f23","type":"rpi-gpio out","z":"4b2d9ea8.b5638","name":"Valve","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1540,"y":420,"wires":[]},{"id":"4d55350a.5caadc","type":"trigger","z":"4b2d9ea8.b5638","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","name":"","x":1360,"y":420,"wires":[["6b45e10b.c6f23"]]},{"id":"fd8ea9ac.f5e1b8","type":"inject","z":"4b2d9ea8.b5638","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1147.5,"y":420,"wires":[["4d55350a.5caadc"]]},{"id":"e724f703.064988","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"true","x":1090,"y":580,"wires":[]},{"id":"8f1f1ba2.ea7c98","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"false","x":1150,"y":180,"wires":[]},{"id":"af2c8ced.8de61","type":"inject","z":"4b2d9ea8.b5638","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1363.5,"y":484,"wires":[["6b45e10b.c6f23"]]},{"id":"c882f1b2.80c81","type":"exec","z":"4b2d9ea8.b5638","command":"sudo python /home/pi/Downloads/sonar_trigger_echo.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Ultrasonic sensor","x":1125.7017059326172,"y":853.7982864379883,"wires":[["ab02b086.9f7a9","3735003e.2f7ae"],[],[]]},{"id":"db86a983.8b8408","type":"inject","z":"4b2d9ea8.b5638","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":900.7017059326172,"y":858.4289627075195,"wires":[["c882f1b2.80c81"]]},{"id":"4a79b02b.931f2","type":"debug","z":"4b2d9ea8.b5638","name":"","active":true,"console":"false","complete":"payload","x":1590,"y":840,"wires":[]}]